.input {
    height: 100px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
}